<div id="main">
  <!--container starts-->
  <div class="container">
    <!--primary starts-->
    <section id="primary" class="content-full-width">
      <h2 class="dt-sc-hr-green-title">Scuola Aperta: presentazione della scuola dell’Infanzia Monsignor Castellani</h2>
      <div class="column dt-sc-one-third first">
        <p>In occasione delle iscrizioni scolastiche alla Scuola dell’Infanzia, che dovranno essere presentate in modalità  cartacea <strong>dal 24 gennaio al 4 marzo 2017</strong>,<br /> l'Associazione Crescere con i Piccoli e gli Insegnanti sono lieti di invitare presso la Scuola dell'Infanzia “Monsignor Castellani” <br />– in Via Montenars n. 2 – Artegna –<br /> i genitori dei bambini per visionare la nostra Scuola, conoscere il nostro Progetto Formativo e indicare nel dettaglio i servizi e le modalità  di iscrizione.</p>
      </div>
      <div class="column dt-sc-two-third">
        <table>
          <thead>
          <tr>
            <th>Giornata</th>
            <th>Orari</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Martedì 24 Gennaio</td>
            <td>Dalle 10.30 alle 11:30</td>
          </tr>
          <tr>
            <td>Martedì 24 Gennaio</td>
            <td>Dalle 20.30 alle 21.30</td>
          </tr>
          <tr>
            <td>Giovedì 26 Gennaio</td>
            <td>Dalle 10.30 alle 11:30</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="dt-sc-hr-small"></div>
    </section>
  </div>
</div>