<div class="column dt-sc-one-third first">
  <h4></h4>
  <p class="photo-container"><img src="<%= asset_path 'originals/spazi.jpg' %>"></p>
</div>
<div class="column dt-sc-two-third">
  <h4>L'Ambiente</h4>
  <div class="dt-sc-hr-medium"></div>
  <p>Gli spazi della scuola sono adeguati, accoglienti, curati, esteticamente attraenti e attrezzati a misura di bambino. L'ambiente è funzionale e favorisce il progressivo articolarsi delle esperienze dei bambini e lo sviluppo delle loro competenze, consente a ciascun bambino di sperimentare attività differenziate che stimolano la fantasia e la creatività e il bisogno infantile di fare, manipolare, toccare ed esplorare. I locali sono stati strutturati per permettere di imparare giocando.</p>
</div>
<div class="dt-sc-hr-medium"></div>
