<div class="column dt-sc-one-third first">
  <h4></h4>
  <p class="photo-container"><%= image_tag 'originals/aule.jpg' %></p>
</div>
<div class="column dt-sc-two-third">
  <h4>Aule</h4>
  <p>Le aule sono ampie, ben illuminate, con la possibilità di accedere direttamente al giardino all’esterno e sono strutturate in angoli che permettono varie attività e giochi differenti.<br />
    L’ambiente è  organizzato in modo da:
  <ul class="dt-sc-fancy-list mustard smile">
    <li>privilegiare il lavoro per piccolo gruppo e per coppie</li>
    <li>offrire un equilibrio tra posture diverse (al tavolo, in piedi, a terra)</li>
    <li>offrire un equilibrio tra modalità di relazione diverse (grande gruppo, piccolo gruppo, coppia, individuale)</li>
  </ul>
  Gli arredi sono costituiti da scaffalature a giorno che permettono ai bambini di prelevare e riporre i materiali in completa autonomia. Gli armadi contengono gli strumenti didattici offerti ai bambini per le varie attività che periodicamente sono sostituiti e proposti nel giusto numero.<br />
  All'interno di ogni sezione sono collocati i bagni
</p>
</div>
<div class="dt-sc-hr-medium"></div>
