<div class="column dt-sc-one-third first">
  <h4></h4>
  <p class="photo-container"><img src="<%= asset_path 'originals/bagni.jpg' %>"></img></p>
</div>
<div class="column dt-sc-two-third">
  <h4>Bagni</h4>
  <p>BAGNI
    Il momento del bagno è uno dei riti di cura quotidiana preferiti dai bambini.Oltre ad imparare le prime norme di igiene, è un momento dove il bambino mette alla prova la sua autonomia, sperimenta il fare da solo, come i grandi: pantaloncini, tirare l'acqua, lavarsi le mani, il sapone, asciugarsi le mani, il bicchiere per bere, impara a dosare l'acqua e molte altre azioni utili per la sua autonomia.
    Sicuramente il bagno, l'acqua e le dimensioni ridotte dei sanitari, permettono ai bambini di sperimentare anche giochi divertenti con l'acqua.</p>
</div>
<div class="dt-sc-hr-medium"></div>
