<div class="column dt-sc-one-third first">
  <h4></h4>
  <p class="photo-container"><%= image_tag 'originals/giardino.jpg' %></p>
</div>
<div class="column dt-sc-two-third">
  <h4>Giardino</h4>
  <p>Il giardino è una risorsa educativa unica, un luogo di scoperte, esplorazioni, d’incontri, di collaborazioni. Vi portiamo i bambini ogni qualvolta è possibile, vi organizziamo attivita' all’aperto e ci prendiamo cura di un un piccolo orto con l’aiuto prezioso di alcuni nonni. Il giardino è dotato di una casetta, percorsi vari con altalene, quadri svedese, funi, scala a pioli e scivoli, una sabbiera, secchielli, palette, setacci, camion, ruspe. É presente una pista ciclabile Giochi che consentono al bambino di osservare, scoprire, scavare, costruire, trasportare, arrampicare, scivolare...</p>
</div>
<div class="dt-sc-hr-medium"></div>