<blockquote class="mustard">
  L'educazione è un processo naturale effettuato dal bambino, e non è acquisita attraverso l'ascolto di parole, ma attraverso le esperienze del bambino nell'ambiente.<br />(M. Montessori)
</blockquote>
<div class="dt-sc-hr-medium"></div>