<div class="column dt-sc-one-third first">
  <h4></h4>
  <p class="photo-container"><img src="<%= asset_path 'originals/salone.jpg' %>"></img></p>
</div>
<div class="column dt-sc-two-third">
  <h4>Salone</h4>
  <p>Il salone è uno degli ambienti dove avviene l’accoglienza e dove il bambino ha l’opportunità di socializzare, giocando con tutti i bambini; questo ambiente è utilizzato, in momenti diversi della giornata, per il gioco libero, per quello organizzato, per cantare, per ballare e per l’attività motoria. Lo spazio viene abitualmente suddiviso in diversi angoli, ciascuno con una proposta ludica differente. L’angolo stabile è quello della “casetta”, che occupa uno spazio rettangolare arredato con mobiletti per cucina, tavolo, sedie e la presenza di materiale familiare (tovaglia, piatti, bicchieri, posate, pentole, culla …) che permette al bambino di elaborare il proprio vissuto, attraverso il gioco simbolico; poi vi sono altri angoli che variano a secondo degli interessi dei bambini come quelli:
    <ul class="dt-sc-fancy-list mustard smile">
      <li>delle costruzioni</li>
      <li>della lettura</li>
      <li>dei travestimenti</li>
      <li>della manipolazione  pasta di sale, didò e pongo</li>
      <li>dell'atelier</li>
    </ul>
   </p>
</div>
<div class="dt-sc-hr-medium"></div>
