<div class="column dt-sc-one-third first">
  <h4></h4>
  <p class="photo-container"><%= image_tag 'originals/salananna.jpg' %></p>
</div>
<div class="column dt-sc-two-third">
  <h4>Sala Nanna</h4>
  <p>La sala della nanna è un luogo dove i bambini ritrovano la loro brandina e il loro pupazzo, che attraverso un momento rituale e rilassante permette loro di fare la nanna in un ambiente caldo e affettuoso.</p>
	<p>I bambini al momento della nanna possono tenersi vicini piccoli oggetti personali che permette loro di ritrovare un po’ del loro ambiente famigliare.</p>
</div>
<div class="dt-sc-hr-medium"></div>