<div class="column dt-sc-one-third first">
  <h4></h4>
  <p class="photo-container"><img src="<%= asset_path 'originals/sala-pranzo.jpg' %>"></img></p>
</div>
<div class="column dt-sc-two-third">
  <h4>Sala da pranzo</h4>
  <p>E' un luogo spazioso, molto luminoso e colorato che permette ai bambini di mangiare insieme e di condividere il pasto anche con le maestre dando valore alla convivialità, al mangiar bene e allo star bene insieme. Sulle pareti sono dipinti alcuni personaggi dei cartoni animati intenti a mangiare. I tavoli sono quadrati e colorati e ogni tavolo ha otto posti disponibili con relative sedie. I camerieri, scelti settimanalmente, apparecchiano e sparecchiano i tavoli utilizzando piatti in ceramica e posate in acciaio, versano l'acqua e si occupano di servire il pane.</p>
</div>
<div class="dt-sc-hr-medium"></div>
