<div class="column dt-sc-one-third first">
  <h4></h4>
  <p class="photo-container"><img src="<%= asset_path 'originals/spogliatoio.jpg' %>"></img></p>
</div>
<div class="column dt-sc-two-third">
  <h4>Spogliatoio</h4>
  <p>Lo spogliatoio e’ il luogo dove i bambini iniziano e terminano la loro giornata scolastica.
    E' anche luogo dell’accoglienza, della rassicurazione, della mediazione ad un rapporto rassicurante, crocevia di incontri.
    Nello spogliatoio si trovano degli armadietti colorati in legno, aperti e facilmente accessibili dove ogni bambino ha il suo posto individuabile dal contrassegno.
    All'interno dell'armadietto oltre a riporre il proprio cambio, ogni bambino crea il proprio spazio personale riponendo piccoli oggetti personali. </p>
</div>
<div class="dt-sc-hr-medium"></div>
