 <!--breadcrumb-section starts-->
  <div class="breadcrumb-section">
    <div class="container">
      <h1>La Scuola e i suoi spazi</h1>
      <div class="breadcrumb">
        <a href="index.html">Home</a>
        <span class="fa fa-angle-double-right"></span>
        <a href="shortcodes.html">Shortcodes</a>
        <span class="fa fa-angle-double-right"></span>
        <span class="current">Columns</span>
      </div>
    </div>
  </div>
  <!--breadcrumb-section ends-->
  <!--container starts-->
  <div class="container">
    <!--primary starts-->
    <section id="primary" class="content-full-width">

      <div class="column dt-sc-one-third first">
        <h4>Le Aule</h4>
        <p><img src="http://lorempixel.com/500/300/sports"></img></p>
      </div>

      <div class="column dt-sc-two-third">
        <h4></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  ex fb aute in esse eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eafb aute in cd commodo consequat. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eafb aute in cd commodo consequat. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="dt-sc-hr-medium"></div>

      <div class="column dt-sc-one-third first">
        <h4>Zona Pisolino</h4>
        <p><img src="http://lorempixel.com/500/300/people"></img></p>
      </div>

      <div class="column dt-sc-two-third">
        <h4></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  ex fb aute in esse eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eafb aute in cd commodo consequat. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eafb aute in cd commodo consequat. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="dt-sc-hr-medium"></div>

      <div class="column dt-sc-one-third first">
        <h4>Laboratori</h4>
        <p><img src="http://lorempixel.com/500/300/city"></img></p>
      </div>

      <div class="column dt-sc-two-third">
        <h4></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  ex fb aute in esse eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eafb aute in cd commodo consequat. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eafb aute in cd commodo consequat. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="dt-sc-hr-medium"></div>

      <div class="column dt-sc-one-third first">
        <h4>Sala da pranzo</h4>
        <p><img src="http://lorempixel.com/500/300/food"></img></p>
      </div>

      <div class="column dt-sc-two-third">
        <h4></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  ex fb aute in esse eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eafb aute in cd commodo consequat. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eafb aute in cd commodo consequat. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="dt-sc-hr-medium"></div>

      <div class="column dt-sc-one-third first">
        <h4></h4>
        <p><img src="http://lorempixel.com/500/300/nature"></img></p>
      </div>

      <div class="column dt-sc-two-third">
        <h4>Sala giochi</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  ex fb aute in esse eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eafb aute in cd commodo consequat. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eafb aute in cd commodo consequat. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="dt-sc-hr-medium"></div>

      <div class="column dt-sc-one-third first">
        <h4>Zona panchine</h4>
        <p><img src="http://lorempixel.com/500/300/animals"></img></p>
      </div>

      <div class="column dt-sc-two-third">
        <h4>Un posto dove riposare</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  ex fb aute in esse eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eafb aute in cd commodo consequat. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eafb aute in cd commodo consequat. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in  eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="dt-sc-hr-medium"></div>
    </section>
    <!--primary ends-->
  </div>
  <!--container ends-->
