<!--main starts-->
<div id="main">
  <!--breadcrumb-section starts-->
  <div class="breadcrumb-section">
    <div class="container">
      <h1>Fancy Boxes</h1>
      <div class="breadcrumb">
        <a href="index.html">Home</a>
        <span class="fa fa-angle-double-right"></span>
        <a href="shortcodes.html">Shortcodes</a>
        <span class="fa fa-angle-double-right"></span>
        <span class="current">Fancy Boxes</span>
      </div>
    </div>
  </div>
  <!--breadcrumb-section ends-->
  <!--container starts-->
  <div class="container">

    <!--primary starts-->
    <section id="primary" class="content-full-width">
      <h2>La "nostra" Giornata Tipo</h2>
      <div>
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box green">
            <h4 class="dt-sc-titled-box-title"> 7:30 ~ 8:00 - Pre-Accoglienza </h4>
            <div class="dt-sc-titled-box-content">
              Un servizio dedicato a tutte le mamme ed i papà che confrontandosi con orari di lavoro rigidi possono apprezzare la comodità di poter gestire l'orario di entrata per il proprio bambino. Una finestra di 30 minuti nei quali i bambini possono entrare in contatto con l'ambiente della scuola ed iniziare la giornata giocando con i propri amici sotto gli occhi vigili di una delle maestre.</div>
          </div>
        </div>
      </div>

      <div>
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box">
            <h4 class="dt-sc-titled-box-title"> 8:00 ~ 9:30 - Entrata </h4>
            <div class="dt-sc-titled-box-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.</div>
          </div>
        </div>
      </div>

      <div >
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box mustard">
            <h4 class="dt-sc-titled-box-title"> 9:30 ~ 11:30 - Attività scolastica & Laboratori </h4>
            <div class="dt-sc-titled-box-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.</div>
          </div>
        </div>
      </div>

      <div >
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box burnt-orange">
            <h4 class="dt-sc-titled-box-title"> 11:30 ~ 12:00 - Preparazione al pranzo </h4>
            <div class="dt-sc-titled-box-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.</div>
          </div>
        </div>
      </div>

      <div>
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box blue">
            <h4 class="dt-sc-titled-box-title"> 12:30 ~ 13:30 - Pranzo e Gioco </h4>
            <div class="dt-sc-titled-box-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.</div>
          </div>
        </div>
      </div>

      <div >
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box chocolate">
            <h4 class="dt-sc-titled-box-title"> 13:30 ~ 15:30 - Attività in aula (riposino per i piccoli) </h4>
            <div class="dt-sc-titled-box-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.</div>
          </div>
        </div>
      </div>



      <div >
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box pink">
            <h4 class="dt-sc-titled-box-title"> 15:30 ~ 16:00 - Preparazione uscita </h4>
            <div class="dt-sc-titled-box-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.</div>
          </div>
        </div>
      </div>



      <div >
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box grey">
            <h4 class="dt-sc-titled-box-title"> 16:00 ~ 17:00 - Post-Accoglienza </h4>
            <div class="dt-sc-titled-box-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos.</div>
          </div>
        </div>
      </div>

    </section>
    <!--primary ends-->
  </div>
  <!--container ends-->
</div>
<!--main ends-->
