  <!--container starts-->
  <div class="container">
    <!--primary starts-->
    <section id="primary" class="content-full-width">
      <div>
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box green">
            <h4 class="dt-sc-titled-box-title"> 7:30 ~ 8:00 - Pre-Accoglienza </h4>
            <div class="dt-sc-titled-box-content">
              Un servizio dedicato a tutte le mamme ed i papà che confrontandosi con orari di lavoro rigidi possono apprezzare la comodità di poter gestire l'orario di entrata per il proprio bambino. Una finestra di 30 minuti nei quali i bambini possono entrare in contatto con l'ambiente della scuola ed iniziare la giornata giocando con i propri amici sotto gli occhi vigili di una delle maestre.</div>
          </div>
        </div>
      </div>

      <div>
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box">
            <h4 class="dt-sc-titled-box-title"> 8:00 ~ 9:30 - Entrata </h4>
            <div class="dt-sc-titled-box-content">
              L’accoglienza a scuola è un momento importante della giornata, in cui il bambino si separa gradualmente dall’ambiente familiare per entrare a far parte di un altro contesto che occuperà gran parte della sua giornata. E’ un momento importante per sviluppare i nuovi riferimenti affettivi nei confronti delle insegnanti e dei compagni.</div>
          </div>
        </div>
      </div>

      <div >
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box mustard">
            <h4 class="dt-sc-titled-box-title"> 9:30 ~ 9:45 - Riordino del materiale </h4>
            <div class="dt-sc-titled-box-content">
              Permette ai bambini di interiorizzare le regole del vivere comune e del rispetto reciproco.</div>
          </div>
        </div>
      </div>

      <div >
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box burnt-orange">
            <h4 class="dt-sc-titled-box-title"> 9:45 ~ 10:00 - Spuntino </h4>
            <div class="dt-sc-titled-box-content">
              Il consumo della merenda di metà mattina, in genere costituita da frutta fresca, rientra nello sviluppo dell’educazione alimentare.</div>
          </div>
        </div>
      </div>

      <div>
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box blue">
            <h4 class="dt-sc-titled-box-title"> 10:00 ~ 11:15 - Attività scolastica </h4>
            <div class="dt-sc-titled-box-content">
              Attività di gruppo o individuali inerenti ai progetti didattici. Hanno lo scopo di stimolare la conoscenza, trovare soluzioni, vivere nuove esperienze.
            </div>
          </div>
        </div>
      </div>

      <div >
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box chocolate">
            <h4 class="dt-sc-titled-box-title"> 11:15 ~ 11:45 - Preparazione al pranzo </h4>
            <div class="dt-sc-titled-box-content">
              Riordino apparecchiature e uso dei servizi in preparazione al pranzo per lo sviluppo dell’autonomia, della cura della propria persona.</div>
          </div>
        </div>
      </div>

      <div >
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box pink">
            <h4 class="dt-sc-titled-box-title"> 11:45 ~ 12:40 - Pranzo </h4>
            <div class="dt-sc-titled-box-content">
              Occasione per favorire l’educazione alimentare, lo sviluppo della socialità e dell’autonomia.
            </div>
          </div>
        </div>
      </div>

      <div >
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box green">
            <h4 class="dt-sc-titled-box-title"> 12:40 ~ 13:30 - Attività ludica spontanea </h4>
            <div class="dt-sc-titled-box-content">
              Svolta nel salone principale o nel giardino all’aperto, favorisce la socializzazione, l’autonomia nelle scelte e l’autocontrollo.
            </div>
          </div>
        </div>
      </div>

      <div >
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box grey">
            <h4 class="dt-sc-titled-box-title"> 13:00 ~ 13:30 - Uscita Intermedia </h4>
          </div>
        </div>
      </div>

      <div>
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box grey">
            <h4 class="dt-sc-titled-box-title"> 13:30 ~ 15:30 - Riposo pomeridiano per i piccoli </h4>
          </div>
        </div>
      </div>

      <div >
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box">
            <h4 class="dt-sc-titled-box-title"> 14:00 ~ 15:30 - Attività per medi e grandi </h4>
            <div class="dt-sc-titled-box-content">
              Svolta in sezione, si concretizza in attività strutturate o semi-strutturate per lo sviluppo dell’espressione spontanea o su consegna attraverso svariate forme.
            </div>
          </div>
        </div>
      </div>

      <div >
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box burnt-orange">
            <h4 class="dt-sc-titled-box-title"> 15:30 ~ 16:00 - Merenda </h4>
        </div>
      </div>
      </div>

      <div >
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box chocolate">
            <h4 class="dt-sc-titled-box-title"> 16:00 - Uscita con i genitori </h4>
        </div>
      </div>
      </div>

      <div >
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box mustard">
            <h4 class="dt-sc-titled-box-title"> 16:00 ~ 17:00 - Post-accoglienza </h4>
            <div class="dt-sc-titled-box-content">
              Momento ludico per favorire l’attesa del rientro a casa.
            </div>
        </div>
      </div>
      </div>

      <div >
        <div class="column dt-sc-one-column">
          <div class="dt-sc-titled-box grey">
            <h4 class="dt-sc-titled-box-title"> 17:00 - Uscita con lo scuolabus </h4>
          </div>
        </div>
      </div>

    </section>
    <!--primary ends-->
  </div>
  <!--container ends-->

