<!--container starts-->
<div class="container">
  <!--dt-sc-one-half starts-->
  <div class="dt-sc-one-half column first">
    <h2>Cresciamo imparando e divertendoci</h2>
    <!--dt-sc-one-half starts-->
    <div class="dt-sc-one-half column first">

      <div class="dt-sc-ico-content type2">
        <div class="icon">
          <span class="fa fa-glass"> </span>
        </div>
        <h4><a href="#" target="_blank"> Laboratorio Alimentare </a></h4>
        <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
      </div>
      <div class="dt-sc-hr-very-small"></div>
      <div class="dt-sc-ico-content type2">
        <div class="icon">
          <span class="fa fa-pencil"> </span>
        </div>
        <h4><a href="#" target="_blank"> Arte Grafica </a></h4>
        <p>il disegno è una importantissima competenza di base, che sviluppa, oltre al senso artistico, le capacità di osservazione e di sintesi, essenziali per un approccio scientifico e pragmatico.</p>
      </div>
      <div class="dt-sc-hr-very-small"></div>
      <div class="dt-sc-ico-content type2">
        <div class="icon">
          <span class="fa fa-bullseye"> </span>
        </div>
        <h4><a href="#" target="_blank"> Laboratorio Pregrafismo </a></h4>
        <p>è in questo momento che comincia a lasciare le prime tracce, un “qualcosa” da lui prodotto che è osservabile, riconoscibile e identificabile da sé stesso e dagli altri.</p>
      </div>

    </div>
    <!--dt-sc-one-half ends-->

    <!--dt-sc-one-half starts-->
    <div class="dt-sc-one-half column">

      <div class="dt-sc-ico-content type2">
        <div class="icon">
          <span class="fa fa-tachometer"> </span>
        </div>
        <h4><a href="#" target="_blank"> Laboratorio Precalcolo </a></h4>
        <p>si propone di aiutare i bambini ad acquisire ed utilizzare un linguaggio che comprenda aspetti matematici, ma, nello stesso tempo, sia adeguato e idoneo per la sua età e per le fasi del suo sviluppo cognitivo.</p>
      </div>
      <div class="dt-sc-hr-very-small"></div>
      <div class="dt-sc-ico-content type2">
        <div class="icon">
          <span class="fa fa-magic"> </span>
        </div>
        <h4><a href="#" target="_blank"> Laboratorio Prelettura </a></h4>
        <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
      </div>
      <div class="dt-sc-hr-very-small"></div>
      <div class="dt-sc-ico-content type2">
        <div class="icon">
          <span class="fa fa-music"> </span>
        </div>
        <h4><a href="#" target="_blank"> Laboratorio Multiculturale </a></h4>
        <p>La musica rende pura la comprensione; la ispira, e la solleva in un regno che non avrebbe raggiunto se fosse stata lasciata sola con se stessa. <br />(Henry Ward Beecher)</p>
      </div>

    </div>
    <!--dt-sc-one-half ends-->
  </div>
  <!--dt-sc-one-half ends-->

  <!--dt-sc-one-half starts-->
  <div class="dt-sc-one-half column">
    <h2>Crescere insieme è un gioco da bambini!</h2>
    <div class="add-slider-wrapper">
      <ul class="add-slider">
        <li> <img src="<%= asset_path 'images/add1.jpg' %>" alt="" title=""> </li>
        <li> <img src="<%= asset_path 'images/add2.jpg' %>" alt="" title=""> </li>
        <li> <img src="<%= asset_path 'images/add1.jpg' %>" alt="" title=""> </li>
      </ul>
    </div>
  </div>
  <!--dt-sc-one-half ends-->
</div>
<!--container ends-->