<a href="#" class="comments">
  <%= blogpost.pubblicato.strftime("%I") %> <%= blogpost.pubblicato.strftime("%p") %> <span class="fa fa-clock-o"> </span>
</a>
<a href="#" class="entry_format"><span class="fa fa-picture-o"></span></a>