<!--main starts-->
<div id="main">

  <%= render 'home/slider' %>

  <!--primary starts-->
  <section id="primary" class="content-full-width">
    <%= render 'home/focuses' %>
    <div class="dt-sc-hr"></div>
    <!--fullwidth-background starts-->
    <section class="fullwidth-background dt-sc-parallax-section turquoise-bg">
      <%= render 'home/activities' %>
    </section>
    <!--fullwidth-background ends-->
    <div class="dt-sc-hr"></div>
    <%= render 'home/portfolio' %>

    <div class="dt-sc-hr"></div>
    <!--fullwidth-background starts-->
    <section class="fullwidth-background dt-sc-parallax-section orange-bg">
      <!--container starts-->
      <div class="container">
        <h2 class="dt-sc-hr-white-title">Notizie Recenti</h2>
        <div class="column dt-sc-one-half first">
          <article class="blog-entry">
            <div class="blog-entry-inner">
              <div class="entry-meta">
                <a href="blog-detail.html" class="blog-author"><img src="images/rounded-bg-img.jpg" alt="" title=""></a>
                <div class="date">
                  <span> 27 </span>
                  <p> Maggio <br> 2015 </p>
                </div>
                <a href="#" class="comments">
                  12 <span class="fa fa-comment"> </span>
                </a>
                <a href="#" class="entry_format"><span class="fa fa-picture-o"></span></a>
              </div>
              <div class="entry-thumb">
                <a href="blog-detail.html"><img src="images/blog_img1.jpg" alt="" title=""></a>
              </div>
              <div class="entry-details">
                <div class="entry-title">
                  <h3><a href="blog-detail.html"> Scambio con altre scuole </a></h3>
                </div>
                <!--entry-metadata ends-->
                <div class="entry-body">
                  <p>In settimana abbiamo ospitato i nostri amici della scuola dell'infanzia di Lignano Sabbiadoro</p>
                </div>
                <a href="blog-detail.html" class="dt-sc-button small"> Leggi di più <span class="fa fa-chevron-circle-right"> </span></a>
              </div>
            </div>
          </article>
        </div>
        <!--dt-sc-one-half ends-->
        <div class="column dt-sc-one-half">
          <article class="blog-entry">
            <div class="blog-entry-inner">
              <div class="entry-meta">
                <a href="blog-detail.html" class="blog-author"><img src="images/rounded-bg-img.jpg" alt="" title=""></a>
                <div class="date">
                  <span> 12 </span>
                  <p> Aprile <br> 2015 </p>
                </div>
                <a href="#" class="comments">
                  12 <span class="fa fa-comment"> </span>
                </a>
                <a href="#" class="entry_format"><span class="fa fa-picture-o"></span></a>
              </div>
              <div class="entry-thumb">
                <a href="blog-detail.html"><img src="images/blog_img2.jpg" alt="" title=""></a>
              </div>
              <div class="entry-details">
                <div class="entry-title">
                  <h3><a href="blog-detail.html"> Tutti in biblioteca </a></h3>
                </div>
                <!--entry-metadata ends-->
                <div class="entry-body">
                  <p>Un giorno in biblioteca: l'arte della conoscenza, la conoscenza dell'arte</p>
                </div>
                <a href="blog-detail.html" class="dt-sc-button small"> Leggi di più <span class="fa fa-chevron-circle-right"> </span></a>
              </div>
            </div>
          </article>
        </div>
        <!--dt-sc-one-half ends-->
      </div>
      <!--container ends-->
    </section>
    <!--fullwidth-background ends-->
    <div class="dt-sc-hr"></div>
    <!--container starts-->
    <div class="container">
      <h2 class="dt-sc-hr-green-title">Il nostro Staff</h2>

      <div class="column dt-sc-one-fourth first">
        <div class="dt-sc-team">
          <div class="image">
            <img class="item-mask" src="images/mask.png" alt="" title="">
            <img src="images/team1.jpg" alt="" title="">
            <div class="dt-sc-image-overlay">
              <a href="#" class="link"><span class="fa fa-facebook"></span></a>
              <a href="#" class="zoom"><span class="fa fa-twitter"></span></a>
            </div>
          </div>
          <div class="team-details">
            <h4> Jack Daniels </h4>
            <h6> Senior Supervisor </h6>
            <p> Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus. </p>
          </div>
        </div>
      </div>
      <div class="column dt-sc-one-fourth">
        <div class="dt-sc-team">
          <div class="image">
            <img class="item-mask" src="images/mask.png" alt="" title="">
            <img src="images/team2.jpg" alt="" title="">
            <div class="dt-sc-image-overlay">
              <a href="#" class="link"><span class="fa fa-facebook"></span></a>
              <a href="#" class="zoom"><span class="fa fa-twitter"></span></a>
            </div>
          </div>
          <div class="team-details">
            <h4> Linda Glendell </h4>
            <h6> Teaching Professor </h6>
            <p> Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus. </p>
          </div>
        </div>
      </div>
      <div class="column dt-sc-one-fourth">
        <div class="dt-sc-team">
          <div class="image">
            <img class="item-mask" src="images/mask.png" alt="" title="">
            <img src="images/team3.jpg" alt="" title="">
            <div class="dt-sc-image-overlay">
              <a href="#" class="link"><span class="fa fa-facebook"></span></a>
              <a href="#" class="zoom"><span class="fa fa-twitter"></span></a>
            </div>
          </div>
          <div class="team-details">
            <h4> Kate Dennings </h4>
            <h6> Children Diet </h6>
            <p> Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus. </p>
          </div>
        </div>
      </div>
      <div class="column dt-sc-one-fourth">
        <div class="dt-sc-team">
          <div class="image">
            <img class="item-mask" src="images/mask.png" alt="" title="">
            <img src="images/team4.jpg" alt="" title="">
            <div class="dt-sc-image-overlay">
              <a href="#" class="link"><span class="fa fa-facebook"></span></a>
              <a href="#" class="zoom"><span class="fa fa-twitter"></span></a>
            </div>
          </div>
          <div class="team-details">
            <h4> Kristof Slinghot </h4>
            <h6> Management </h6>
            <p> Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus. </p>
          </div>
        </div>
      </div>

    </div>
    <!--container ends-->
    <!--
    <div class="dt-sc-hr"></div>

    <section class="fullwidth-background dt-sc-parallax-section product_bg">
        <
        <div class="container">
            <h2 class="dt-sc-hr-white-title">Recent Products</h2>
            <ul class="products">
                <li class="dt-sc-one-fourth column first">
                    <div class="product-thumb">
                        <a href="#">
                            <img src="images/product1.jpg" alt="" title="">
                        </a>
                        <span class="sale"> Sale! </span>
                        <div class="image-overlay">
                            <div class="product-button">
                                <a href="#" class="add-cart-btn"> Add to cart </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-details">
                        <h5><a href="#"> Ellents Style Grade </a></h5>
                        <span class="price"> $20.00 </span>
                    </div>
                </li>
                <li class="dt-sc-one-fourth column">
                    <div class="product-thumb">
                        <a href="#">
                            <img src="images/product2.jpg" alt="" title="">
                        </a>
                        <div class="image-overlay">
                            <div class="product-button">
                                <a href="#" class="add-cart-btn"> Add to cart </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-details">
                        <h5><a href="#"> Ellents Style Grade </a></h5>
                        <span class="price"> $20.00 </span>
                    </div>
                </li>
                <li class="dt-sc-one-fourth column">
                    <div class="product-thumb">
                        <a href="#">
                            <img src="images/product3.jpg" alt="" title="">
                        </a>
                        <span class="sale"> Sale! </span>
                        <div class="image-overlay">
                            <div class="product-button">
                                <a href="#" class="add-cart-btn"> Add to cart </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-details">
                        <h5><a href="#"> Ellents Style Grade </a></h5>
                        <span class="price"> $20.00 </span>
                    </div>
                </li>
                <li class="dt-sc-one-fourth column">
                    <div class="product-thumb">
                        <a href="#">
                            <img src="images/product4.jpg" alt="" title="">
                        </a>
                        <div class="image-overlay">
                            <div class="product-button">
                                <a href="#" class="add-cart-btn"> Add to cart </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-details">
                        <h5><a href="#"> Ellents Style Grade </a></h5>
                        <span class="price"> $20.00 </span>
                    </div>
                </li>
            </ul>
        </div>

    </section> -->
    <!--fullwidth-background ends-->
  </section>
  <!--primary ends-->
</div>
<!--main ends-->