<!--container starts-->
<div class="container">
  <!--primary starts-->
  <section id="primary" class="content-full-width">

    <%= render 'form' %>

  </section>
  <!--primary ends-->
</div>
<!--container ends-->
<div class="dt-sc-hr-medium"></div>