<div class='dt-sc-testimonial'>
  <blockquote class="green"><q>Calendarizzazione del men&uacute; nell'arco delle settimane interessata all'anno scolastico in corso.</q></blockquote>
  <div class='author'>
    <a href="documenti/calendariomenu.xlsx"><img src="images/xlss.png" alt="" title="" /></a>
  </div>
  <div class="author-meta">
    <p> Calendario del men&uacute; </p>
    <span>Divisione settiamale del calendario scolatistico</span>
    <span class="author-rating rating-4"></span>
  </div>
</div>