<div class='dt-sc-testimonial'>
  <blockquote class="blue"><q>Modulo da compilare per l'iscrizione del minore alla scuola dell'infanzia e richiesta di ammissione a socio/i da parte del/i genitore/i. Contiene scelte formative da effettuare e consenso al trattamento dei dati.</q></blockquote>
  <div class='author'>
    <a href="documenti/ModDomIscr20172018SCELTASEZ.doc"><img src="images/docs.png" alt="" title="" /></a>
  </div>
  <div class="author-meta">
    <p> Modulo Iscrizione </p>
    <span> Domanda di iscrizione ed ammissione a socio </span>
    <span class="author-rating rating-5"></span>
  </div>
</div>