<div class='dt-sc-testimonial'>
  <blockquote class="blue"><q>Modulo da compilare per informare la scuola sulla modalità prescelta per l'uscita pomeridiana del proprio bambino.</q></blockquote>
  <div class='author'>
    <a href="documenti/letterauscitebimbi.docx"><img src="images/docs.png" alt="" title="" /></a>
  </div>
  <div class="author-meta">
    <p> Lettera Uscita Pomeridiana</p>
    <span>Foglio da stampare e compilare</span>
    <span class="author-rating rating-4"></span>
  </div>
</div>