<div class='dt-sc-testimonial'>
  <blockquote class="green"><q>Men&uacute; suddiviso in 8 settimane. Per ogni giornata viene indicata la tipologia e le portate.</q></blockquote>
  <div class='author'>
    <a href="documenti/menu.xlsx"><img src="images/xlss.png" alt="" title="" /></a>
  </div>
  <div class="author-meta">
    <p> Men&uacute;  </p>
    <span>Piano settimanale del men&uacute; </span>
    <span class="author-rating rating-4"></span>
  </div>
</div>