<div class='dt-sc-testimonial'>
  <blockquote class="burnt-orange"><q>È lo strumento attraverso il quale la scuola rende trasparente e leggibile ciò che fa, come lo fa e perché contiene le scelte culturali, educative, didattiche e organizzative, espressione dell’autonomia progettuale e dell’assunzione di responsabilità della scuola</q></blockquote>
  <div class='author'>
    <a href="documenti/POF_TRIENNALE_DEFINITIVO_2015-2018.pdf"><img src="images/pdfs.png" alt="" title="" /></a>
  </div>
  <div class="author-meta">
    <p> Piano di Offerta Formativa </p>
    <span>POF triennale</span>
    <span class="author-rating rating-4"></span>
  </div>
</div>