<div class='dt-sc-testimonial'>
  <blockquote class="blue"><q>Il regolamento della scuola dell'infanzia "Mons.Castellani per l'anno scolastico 2017/18. Stabilisce e rattifica le norme in vigore.</q></blockquote>
  <div class='author'>
    <a href="documenti/Regolamento1718.doc"><img src="images/docs.png" alt="" title="" /></a>
  </div>
  <div class="author-meta">
    <p> Regolamento</p>
    <span>Il regolamento per il 2017/18</span>
    <span class="author-rating rating-5"></span>
  </div>
</div>