<!--container starts-->
<div class="container">
  <!--primary starts-->
  <section id="primary" class="content-full-width">

    <!--dt-sc-one-half starts-->
    <div class="dt-sc-one-half column first">
      <h2>POF</h2>
      <div>
        <ul class='dt-sc-testimonial-carousel'>
          <li>
            <div class='dt-sc-testimonial'>
              <blockquote class="mustard"><q>È lo strumento attraverso il quale la scuola rende trasparente e leggibile ciò che fa, come lo fa e perché contiene le scelte culturali, educative, didattiche e organizzative, espressione dell’autonomia progettuale e dell’assunzione di responsabilità della scuola</q></blockquote>
              <div class='author'>
                <a href="documenti/POF_TRIENNALE_DEFINITIVO_2015-2018.pdf"><img src="images/doc_pdf.png" alt="" title="" /></a>
              </div>
              <div class="author-meta">
                <p> Piano di Offerta Formativa </p>
                <span>CEO &amp; Founder - Dhoom Inc</span>
                <span class="author-rating rating-4"></span>
              </div>
            </div>
          </li>
          <li>
            <div class='dt-sc-testimonial'>
              <blockquote><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehiculaest, in consequat. Donec hendrerit vehicula est, in consequat. Donec hendrerit vehicula est, in consequat.</q></blockquote>
              <div class='author'>
                <img src="images/parent.jpg" alt="" title="">
              </div>
              <div class="author-meta">
                <p> Rooney </p>
                <span>CEO &amp; Founder - Dhoom Inc</span>
                <span class="author-rating rating-4"></span>
              </div>
            </div>
          </li>
          <li>
            <div class='dt-sc-testimonial'>
              <blockquote><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehiculaest, in consequat. Donec hendrerit vehicula est, in consequat. Donec hendrerit vehicula est, in consequat.</q></blockquote>
              <div class='author'>
                <img src="images/parent.jpg" alt="" title="">
              </div>
              <div class="author-meta">
                <p> Rooney </p>
                <span>CEO &amp; Founder - Dhoom Inc</span>
                <span class="author-rating rating-4"></span>
              </div>
            </div>
          </li>
        </ul>
        <div class="carousel-arrows">
          <a href="#" class="testimonial-prev"><span class="fa fa-angle-left"></span></a>
          <a href="#" class="testimonial-next"><span class="fa fa-angle-right"></span></a>
        </div>
      </div>
    </div>
    <!--dt-sc-one-half ends-->
    <!--dt-sc-one-half starts-->
    <div class="dt-sc-one-half column">
      <h2>Some Words from Parents</h2>
      <div class="dt-sc-testimonial-carousel-wrapper">
        <ul class='dt-sc-testimonial-carousel'>
          <li>
            <div class='dt-sc-testimonial'>
              <blockquote><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehiculaest, in consequat. Donec hendrerit vehicula est, in consequat. Donec hendrerit vehicula est, in consequat.</q></blockquote>
              <div class='author'>
                <img src="images/parent.jpg" alt="" title="">
              </div>
              <div class="author-meta">
                <p> Rooney </p>
                <span>CEO &amp; Founder - Dhoom Inc</span>
                <span class="author-rating rating-4"></span>
              </div>
            </div>
          </li>
          <li>
            <div class='dt-sc-testimonial'>
              <blockquote><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehiculaest, in consequat. Donec hendrerit vehicula est, in consequat. Donec hendrerit vehicula est, in consequat.</q></blockquote>
              <div class='author'>
                <img src="images/parent.jpg" alt="" title="">
              </div>
              <div class="author-meta">
                <p> Rooney </p>
                <span>CEO &amp; Founder - Dhoom Inc</span>
                <span class="author-rating rating-4"></span>
              </div>
            </div>
          </li>
          <li>
            <div class='dt-sc-testimonial'>
              <blockquote><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehiculaest, in consequat. Donec hendrerit vehicula est, in consequat. Donec hendrerit vehicula est, in consequat.</q></blockquote>
              <div class='author'>
                <img src="images/parent.jpg" alt="" title="">
              </div>
              <div class="author-meta">
                <p> Rooney </p>
                <span>CEO &amp; Founder - Dhoom Inc</span>
                <span class="author-rating rating-4"></span>
              </div>
            </div>
          </li>
        </ul>
        <div class="carousel-arrows">
          <a href="#" class="testimonial-prev"><span class="fa fa-angle-left"></span></a>
          <a href="#" class="testimonial-next"><span class="fa fa-angle-right"></span></a>
        </div>
      </div>
    </div>
    <!--dt-sc-one-half ends-->

  </section>
  <!--primary ends-->
</div>
<!--container ends-->
</div>