<!--container starts-->
<div class="container">
  <!--primary starts-->
  <div>
    <%= link_to 'Mostra', @project, class: 'dt-sc-button small' %>
    <%= link_to 'Elenco progetti', projects_path, class: 'dt-sc-button small' %>
  </div>
  <div class="dt-sc-hr"></div>
  <section class="content-full-width">
    <h1>Modifica progetto</h1>
    <%= render 'form' %>
  </section>
  <!--primary ends-->
</div>
<!--container ends-->