<!--main starts-->
<div id="main">
  <!--container starts-->
  <div class="container">
    <!--primary starts-->
    <section id="primary" class="content-full-width">
      <h2 class="dt-sc-hr-green-title">Cenni Storici</h2>
      <div class="storia-asilo">
      <p>La scuola Materna “Mons. Castellani” nasce ad Artegna nel 1922 quando, per andare incontro alle esigenze delle famiglie contadine, venne creato un servizio per accogliere i numerosi figli durante le giornate di lavoro nei campi.
      &nbsp;<span class="dt-sc-pullquote alignleft"> La scuola Materna “Mons. Castellani” nasce ad Artegna nel 1922 (e sono <%= Date.today.year - 1922 %> anni, mai meglio portati)</span>
      Fin da subito la Scuola viene gestita dalle Suore Francescane Missionarie del S. Cuore di Gemona del Friuli (UD), coadiuvate dal Parroco pro – tempore.</p>

      <p>Nel 1972 nasce la prima Associazione dei genitori della Scuola Materna ed il primo Consiglio di Amministrazione, il cui scopo era garantire una gestione giuridicamente corretta dal punto di vista amministrativo e contabile, nonché permettere il coinvolgimento attivo dei genitori e della comunità.
      Nel 1977, in fase di ricostruzione post-terremoto, la comunità di Artegna ribadisce con forza la volontà a sostenere la scuola materna in qualità di comunità educante e con gli stessi principi fino ad allora adottati.</p>
      <span class="dt-sc-pullquote alignright"> Dopo il terremoto del 1976, la comunità di Artegna ribadisce con forza la volontà a sostenere la scuola materna  </span>&nbsp;
      <p>Con la costituzione dell’Associazione “Crescere con i Piccoli” nel 1997 è stata sostanzialmente garantita ed ampliata la filosofia perseguita dalla prima associazione.
      Ad oggi, “Crescere con i Piccoli” è Ente Gestore con responsabilità civile e rappresentanza legale nella persona del Presidente, che condividendo i presupposti del predecessore, vuole ampliare la possibilità di partecipazione della comunità alle attività della scuola attraverso l’adesione volontaria di chi condivide i principi dello Statuto.</p>

      <p>Dal 1 settembre 2005 la conduzione ed il coordinamento della scuola è affidata completamente a personale laico, con la supervisione del Consiglio di Amministrazione coordinato dal Presidente. Essa, pur rinnovando le modalità educative ed ampliando l’offerta formativa, continua a mantenere sempre i principi educative, etici e morali che nel tempo la hanno contraddistinta.</p>
La nostra scuola è divenuta “paritaria” dal 2000 ai sensi del D.M. del 21/04/2001 n. 5833/A.
Facente parte della F.I.S.M. (Federazione Italiana Scuole Materne) di Udine, usufruisce della sua assistenza normativa, pedagogica ed amministrativa.
Il nostro personale insegnante, le cuoche ed i gestori stessi fruiscono di corsi di formazione e di aggiornamento sulle normative della sicurezza e della corretta gestione alimentare.</p>

      <p>Le educatrici aderiscono al Coordinamento Pedagogico zonale che permette loro di costruire un collegio delle docenti in cui si realizzano progetti didattici in situazione di autoformazione attraverso il sistema dei laboratori. In tale situazione esse si confrontano, condividono progetti, metodologie, materiali, con valutazione e riprogrammazione dei percorsi didattici, realizzando in tal modo una controllata innovazione e miglioramento della qualità educativa.</p>

      <p>Nel 2015 è stato aggiornato lo statuto dell’Associazione adeguandolo alle normative vigenti e permettendo altresì di attingere alle risorse legate alla donazione del 5xmille.</p>
      <span class="dt-sc-pullquote aligncenter"> <strong>La scuola, pur rinnovando le modalità educative ed ampliando l’offerta formativa, continua a mantenere sempre i principi educative, etici e morali che nel tempo l'hanno contraddistinta.</strong> </span>
      </div>
        <div class="dt-sc-hr"></div>
    </section>
    <!--primary ends-->
  </div>
  <!--container ends-->
</div>
<!--main ends-->
