<h2 class="dt-sc-hr-green-title"> Laboratori </h2>

<div class="column dt-sc-one-fourth first">
  <div class="activity box1">
    <h4> Laboratorio di Friulano </h4>
    <img src="<%= asset_path 'images/activity1.jpg' %>" alt="" title="">
    <p>Si tratterà  argomenti di carattere artistico, folkloristico, antropologico, letterario, scientifico e musicale. Cercheremo, attraverso divertenti filastrocche animate, racconti ed aneddoti dei genitori e dei nonni dei nostri bimbi, di fare un viaggio di scoperta legato al rispetto per la natura e alla condivisione dei propri valori culturali (solidarietà, laboriosità, parsimonia,...). A conclusione dell’anno, presenteranno il loro percorso alle famiglie attraverso una piccola accademia, che si svolgerà  con diverse forme espressive.</p>
  </div>
</div>

<div class="column dt-sc-one-fourth">
  <div class="activity box2">
    <h4> Laboratorio di Inglese </h4>
    <img src="<%= asset_path 'images/originals/lab-inglese.jpg' %>" alt="" title="">
    <p>Nella prima infanzia l'acquisizione di una lingua straniera dev'essere un gioco, un meccanismo istintivo e di sperimentazione diretta che incuriosisce i bambini e li diverte.
      Questo laboratorio è pensato come a un’ avventura, un viaggio alla scoperta di una nuova lingua, che durerà  l’intero anno scolastico con l'insegnante Madrelingua Venir Loreta.
      Per iniziare nel modo giusto ad insegnare l'inglese è necessario sintonizzarsi sulle stesse frequenze dei bambini, vale a dire sfruttare i canali comunicativi più immediati come ad esempio la musica, le illustrazioni, le attivit  di gruppo e motorie.
      La curiosità  dei bambini sarà  stimolata da subito creando un contesto coinvolgente e positivo per poter acquisire le competenza di base dal punto di vista fonetico, lessicale e comunicativo</p>
  </div>
</div>

<div class="column dt-sc-one-fourth">
  <div class="activity box3">
    <h4> Laboratorio di  Musica </h4>
    <img src="<%= asset_path 'images/activity3.jpg' %>" alt="" title="">
    <p>Il laboratorio di Musica è occasione per i bambini di scoprire in prima persona il meraviglioso mondo dei Suoni e della Musica attraverso divertenti esperienze multi-sensoriali che entrano in contatto con la dimensione sonoro-musicale partendo da esperienze globali che lasciano grande spazio al movimento, all’ascolto attraverso il corpo, alla sperimentazione individuale e collettiva.
      La finalità  del percorso è di far vivere al bambino un’esperienza musicale diretta, attraverso l’utilizzo del ritmo e della melodia.
      Un percorso progressivo attivo nel “fare”, all’interno del quale sarà stimolata l’espressività spontanea del bambino e gradualmente i vari processi cognitivi e dove il bambino diventa il protagonista dell'attività.</p>
  </div>
</div>

<div class="column dt-sc-one-fourth">
  <div class="activity box4">
    <h4> Attivit&agrave; motoria </h4>
    <img src="<%= asset_path 'images/originals/attivita-motoria.jpg' %>" alt="" title="">
    <p>Per capire l'importanza che l'attività motoria riveste nella vita di ogni singolo individuo occorre assolutamente superare uno stereotipo che ci porta a pensare che muoversi è solamente un atto di sfogo del corpo e che il corpo debba avere un ruolo centrale nei bambini piccoli, ma che poi, se vogliono crescere, la mente deve prendere il sopravvento. Niente di più sbagliato, come si può pensare che un persona e in particolare un bambino possa apprende “dal collo in su”. La realtà è che ognuno di noi apprende con tutto il suo essere e il suo mondo (emozioni, sentimenti, relazioni, corporeità, movimento). Non ci si muove solo per star bene, per evitare l'obesità, ma attraverso il movimento il bambino realizza qualsiasi tipo di apprendimento, perciò è opportuno CONSIDERARE IL CORPO E IL MOVIMENTO COME UN CANALE PRIVILEGIATO, una strada corretta, per capire, orientarsi, e far parte del mondo stesso.</p>
  </div>
</div>