<!--container starts-->
<div class="container">
  <!--primary starts-->
  <section id="primary" class="content-full-width">

    <h2 class="dt-sc-hr-green-title"> Servizi alle famiglie </h2>
    <div class="dt-sc-hr"></div>

    <div class="column dt-sc-one-third first">
      <div class="dt-sc-ico-content type3">
        <div class="icon">
          <span class="fa fa-smile-o"> </span>
        </div>
        <h4><a href="#" target="_blank"> Pre&Post Accoglienza </a></h4>
        <p>Nunc at pretium est curabitur commodo leac est venenatis egestas sed aliquet auguevelit. Curabitur vulputate, ligula lacinia scelerisque</p>
      </div>
    </div>

    <div class="column dt-sc-one-third">
      <div class="dt-sc-ico-content type3">
        <div class="icon">
          <span class="fa fa-sun-o"> </span>
        </div>
        <h4><a href="#" target="_blank"> Mensa </a></h4>
        <p>La scuola dispone di un servizio mensa interno con cucina attrezzata dove quotidianamente vengono preparati i pasti secondo le disposizioni dell’A.S.S. 3 Alto Friuli. Il menù è stagionale e suddiviso su 8 settimane. <span  id="servizioMensa" class="linkPiccolo">Leggi di piu'</span></p>
      </div>
    </div>

    <div class="column dt-sc-one-third">
      <div class="dt-sc-ico-content type3">
        <div class="icon" id="fermateScuolabus">
          <span class="fa fa-cog"> </span>
        </div>
        <h4><a href="#" target="_blank"> Scuolabus </a></h4>
        <p>La nostra scuola dell’infanzia garantisce il servizio scuolabus gratuito, da e per la scuola, ai bambini delle famiglie che ne fanno richiesta esclusivamente sul territorio comunale di Artegna</p>
      </div>
    </div>

    <div class="dt-sc-hr"></div>

    <h2 class="dt-sc-hr-green-title"> Attivit&agrave; per i bambini </h2>

    <div class="column dt-sc-one-fourth first">
      <div class="activity box1">
        <h4> Laboratori Didattici </h4>
        <img src="<%= asset_path 'images/activity1.jpg' %>" alt="" title="">
        <p>Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu</p>
      </div>
    </div>

    <div class="column dt-sc-one-fourth">
      <div class="activity box2">
        <h4> Laboratori Creativi </h4>
        <img src="<%= asset_path 'images/activity2.jpg' %>" alt="" title="">
        <p>Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu</p>
      </div>
    </div>

    <div class="column dt-sc-one-fourth">
      <div class="activity box3">
        <h4> Laboratori Musicali </h4>
        <img src="<%= asset_path 'images/activity3.jpg' %>" alt="" title="">
        <p>Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu</p>
      </div>
    </div>

    <div class="column dt-sc-one-fourth">
      <div class="activity box4">
        <h4> Attivit&agrave; extrascolastiche </h4>
        <img src="<%= asset_path 'images/activity4.jpg' %>" alt="" title="">
        <p>Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus Et Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu</p>
      </div>
    </div>

  </section>
  <!--primary ends-->
</div>
<!--container ends-->
<div id="dialog" title="Mappa fermate scuolabus">
  <div id="busStopsMap" style="width: 600px; height: 450px;" ></div>
</div>
<div id="dialog3" title="Mappa fermate scuolabus">
  <p>La proposta degli alimenti fa riferimento alle “Linee Guida” elaborate dai Servizi Igiene degli Alimenti e della Nutrizione a.s. 2010/2011 delle Aziende per i Servizi Sanitari della Regione Friuli Venezia Giulia.  I prodotti freschi (frutta, verdura, uova, formaggio, carne, affettati) vengono acquistati direttamente da produttori locali</p>
</div>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>
  jQuery('#fermateScuolabus').click(function(){
    jQuery( "#dialog" ).dialog({
      modal:true,
      width: 640,
      hright: 450
    });
  });

  jQuery('#servizioMensa').click(function(){
    jQuery( "#dialog3" ).dialog();
  });

  var locations = [
    ['<h4>Scuola dell\'infanzia Mons.Castellani</h4><p>Partenza ore 17:00</p>', 46.244221, 13.155819],
    ['<h4>Coogee Beach</h4>', -33.923036, 151.259052],
    ['<h4>Cronulla Beach</h4>', -34.028249, 151.157507]
    ['<h4>Manly Beach</h4>', -33.80010128657071, 151.28747820854187],
    ['<h4>Maroubra Beach</h4>', -33.950198, 151.259302]
  ];

  // Setup the different icons and shadows
  var iconURLPrefix = 'http://maps.google.com/mapfiles/ms/icons/';

  var icons = [
    iconURLPrefix + 'red-dot.png',
    iconURLPrefix + 'green-dot.png',
    iconURLPrefix + 'blue-dot.png',
    iconURLPrefix + 'orange-dot.png',
    iconURLPrefix + 'purple-dot.png',
    iconURLPrefix + 'pink-dot.png',
    iconURLPrefix + 'yellow-dot.png'
  ]
  var iconsLength = icons.length;

  var map = new google.maps.Map(document.getElementById('busStopsMap'), {
    zoom: 14,
    center: new google.maps.LatLng(46.244221, 13.155819),
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    mapTypeControl: false,
    streetViewControl: false,
    panControl: false,
    zoomControlOptions: {
      position: google.maps.ControlPosition.LEFT_BOTTOM
    }
  });

  var infowindow = new google.maps.InfoWindow({
    maxWidth: 160
  });

  var markers = new Array();

  var iconCounter = 0;

  // Add the markers and infowindows to the map
  for (var i = 0; i < locations.length; i++) {
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map,
      icon: icons[iconCounter]
    });

    markers.push(marker);

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
      }
    })(marker, i));

    iconCounter++;
    // We only have a limited number of possible icon colors, so we may have to restart the counter
    if(iconCounter >= iconsLength) {
      iconCounter = 0;
    }
  }

  function autoCenter() {
    //  Create a new viewpoint bound
    var bounds = new google.maps.LatLngBounds();
    //  Go through each...
    for (var i = 0; i < markers.length; i++) {
      bounds.extend(markers[i].position);
    }
    //  Fit these bounds to the map
    map.fitBounds(bounds);
  }
  autoCenter();
</script>

