<!--container starts-->
<div class="container">
  <!--primary starts-->
  <section id="primary" class="content-full-width">

    <%= render 'servizi' %>

    <div class="dt-sc-hr"></div>

    <%= render 'attivita' %>

  </section>
  <!--primary ends-->
</div>
<!--container ends-->
<div style="display: none;">
  <div id="dialog" title="Mappa fermate scuolabus">
    <div id="busStopsMap" style="width: 600px; height: 450px;" ></div>
  </div>
  <div id="dialog2" title="Servizio Mensa">
    <p>La proposta degli alimenti fa riferimento alle “Linee Guida” elaborate dai Servizi Igiene degli Alimenti e della Nutrizione a.s. 2010/2011 delle Aziende per i Servizi Sanitari della Regione Friuli Venezia Giulia.  I prodotti freschi (frutta, verdura, uova, formaggio, carne, affettati) vengono acquistati direttamente da produttori locali</p>
  </div>
  <div id="dialog1" title="Servizio di Pre e Post Accoglienza">
    <p>Pre-accoglienza: dalle ore 7:30 alle ore 9:30
      <br />
      Post-accoglienza: dalle ore 16:00 alle ore 17:00.
      <br />
      E’ aperto anche ai bambini che non usufruiscono del pulmino.
      <br />
      In questa fascia oraria potranno essere organizzati ampliamenti dell’offerta formativa (attività supplementari e corsi)
    </p>
  </div>
</div>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>
  jQuery('.fermateScuolabus').click(function(){
    jQuery( "#dialog" ).dialog({
      modal:true,
      width: 640,
      height: 520
    });
  });

  jQuery('.postpreaccoglienza').click(function(){
    jQuery( "#dialog1" ).dialog({
        modal: true,
        width: 500,
        height:300}
    );
  });

  jQuery('.servizioMensa').click(function(){
    jQuery( "#dialog2" ).dialog({
      modal: true,
      width: 500,
      height:300});
  });

  var locations = [
    ['<h4>Scuola dell\'infanzia Mons.Castellani</h4><p>Partenza ore 17:00</p>', 46.244221, 13.155819],
    ['<h4>Coogee Beach</h4>', -33.923036, 151.259052],
    ['<h4>Cronulla Beach</h4>', -34.028249, 151.157507]
    ['<h4>Manly Beach</h4>', -33.80010128657071, 151.28747820854187],
    ['<h4>Maroubra Beach</h4>', -33.950198, 151.259302]
  ];

  // Setup the different icons and shadows
  var iconURLPrefix = 'http://maps.google.com/mapfiles/ms/icons/';

  var icons = [
    iconURLPrefix + 'red-dot.png',
    iconURLPrefix + 'green-dot.png',
    iconURLPrefix + 'blue-dot.png',
    iconURLPrefix + 'orange-dot.png',
    iconURLPrefix + 'purple-dot.png',
    iconURLPrefix + 'pink-dot.png',
    iconURLPrefix + 'yellow-dot.png'
  ]
  var iconsLength = icons.length;

  var map = new google.maps.Map(document.getElementById('busStopsMap'), {
    zoom: 14,
    center: new google.maps.LatLng(46.244221, 13.155819),
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    mapTypeControl: false,
    streetViewControl: false,
    panControl: false,
    zoomControlOptions: {
      position: google.maps.ControlPosition.LEFT_BOTTOM
    }
  });

  var infowindow = new google.maps.InfoWindow({
    maxWidth: 160
  });

  var markers = new Array();

  var iconCounter = 0;

  // Add the markers and infowindows to the map
  for (var i = 0; i < locations.length; i++) {
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map,
      icon: icons[iconCounter]
    });

    markers.push(marker);

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
      }
    })(marker, i));

    iconCounter++;
    // We only have a limited number of possible icon colors, so we may have to restart the counter
    if(iconCounter >= iconsLength) {
      iconCounter = 0;
    }
  }

  function autoCenter() {
    //  Create a new viewpoint bound
    var bounds = new google.maps.LatLngBounds();
    //  Go through each...
    for (var i = 0; i < markers.length; i++) {
      bounds.extend(markers[i].position);
    }
    //  Fit these bounds to the map
    map.fitBounds(bounds);
  }
  autoCenter();
</script>

