<!--container starts-->
<div class="container">
  <!--primary starts-->
  <section id="primary" class="content-full-width">

    <div class="dt-sc-one-column">
			<% if user_signed_in? && current_user.role_id > 1 %>
      <div><a class="dt-sc-button small pink" id="inserisciNuovoPost" href="#">inserisci un nuovo post</a>
			</div>
      <div id="inserimentoNuovoPost" style="display: none;">
        <%= render 'posts/fancy_form', post: @post %>
      </div>
      <div class="dt-sc-one-column">
      	<%= render 'lista', posts: @posts %>
      </div>
			<% end %>
      <%= render partial: 'post', collection: @posts %>
    </div>

  </section>
  <!--primary ends-->

</div>
<!--container ends-->
<script type="text/javascript">
  /*
  jQuery('#creaNuovoPost').on('click',function(e){
    e.preventDefault();
    jQuery.ajax('/posts',{
      method: 'POST',
      accepts: "script",
      data: jQuery('form').serialize()
    });
  });
*/
  jQuery('#inserisciNuovoPost').on('click',function(e){
    e.preventDefault();
    jQuery('#inserimentoNuovoPost').toggle();
  });

</script>

