<!--container starts-->
<div class="container">
  <!--primary starts-->
  <section id="primary" class="content-full-width">

    <div class="dt-sc-one-column">

      <%= render 'form' %>

    </div>

  </section>
  <!--primary ends-->
</div>
<!--container ends-->
<div class="dt-sc-hr-medium"></div>
