// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field>label {
  font-family: "Bubblegum Sans";
}

.activity-thumb .count{position:relative; left:-30px; top:0px; z-index:9; font-size:16px; color:#FFF; background:#008c99; width:34px; height:50px; line-height:50px; float:left; text-align: center;}

.activity-thumb .count:after{width:0; content:""; height:0; border-top:25px solid transparent; border-bottom:25px solid transparent; border-left:13px solid #008c99; float:left; position:absolute; top:0px; right:-13px;}

.activity-thumb .count:before{width:0; content:""; height:0; border-top:25px solid transparent; border-bottom:25px solid transparent; border-right:13px solid #008c99; float:left; position:absolute; top:0px; left:-13px;}

.dt-sc-one-column.progetti {
  width:95%;
}

legend {
  padding: 0;
  display: table;
}
fieldset {
  border: 3px dotted #008c99;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

fieldset.immagini {
  border: 3px dashed #cf571b;
  padding: 0.01em 0 0 0;
  margin: 5%;
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

.pulsante-cancellazione-img {
  left: -3px;
  position: relative;
  top: -13px;
}

.dt-sc-one-many{
  width: 5.8%;
}

.portfolio.dt-sc-one-fourth .portfolio-thumb {
  min-height: 182px;
}