<div class="events-list">
  <div class="event-thumb">
    <a href="#" title="">
      <img src="<%= asset_path 'images/image8.jpg' %>" class="" alt="" title="">
    </a>
  </div>
  <div class="event-details">
    <div class="event-meta">
      <span class="fa fa-calendar"> </span> <%= "#{event.quando.strftime("%d/%m/%Y")} - #{event_time event}" %>
    </div>
    <h2><a href="#"><%= event.titolo %></a></h2>
    <div class="event-excerpt">
      <p><%= event.descrizione.html_safe %></p>
    </div>
  </div>
</div>