<ul class="menu" id="menu-main-menu">
  <li class="red "><a href="/">Home</a></li>
  <li class="mustard "><a href="/storia">Storia</a></li>
  <li class="green "><a href="/scuola">Scuola</a></li>
  <li class="yellow "><a href="/orari">Orari</a></li>
  <li class="blue"><a href="/servizi">Servizi</a></li>
  <li class="steelblue "><a href="/progetti">Progetti</a></li>
  <li class="lavender "><a href="/documenti">Documenti</a></li>
  <li class="purple "><a href="/comunicazioni">Comunicazioni</a></li>
  <li class="pink "><a href="/comitatomamme">Comitato Mamme</a></li>
</ul>