<!--header starts-->
<header>
  <div class="container">
    <div class="logo">
      <a href="/" title="Kids Life"><img src="<%= asset_path 'images/logo.JPG' %>" alt="Crescere Piccoli" title="Associazione Crescere Piccoli"></a>
    </div>
    <div class="contact-details">
      <p class="mail">
        <a href="mailto:crescerepiccoli@libero.it">crescerepiccoli@libero.it</a>
        <span class="fa fa-envelope"></span>
      </p>
      <p class="phone-no">
        <i>0432 987238</i>
        <span class="fa fa-phone"></span>
      </p>
      <p>
        <% if current_user %>
          <i><%= current_user.email %></i>
            <span class="fa fa-user"></span>
        <% else %>
          <a href="/users/sign_in">
            <i>Login</i>
            <span class="fa fa-sign-in"></span>
          </a>
        <% end %>
      </p>
    </div>
  </div>
  <!--menu-container starts-->
  <div id="menu-container">
    <div class="container">
      <!--nav starts-->
      <nav id="main-menu">
        <div class="dt-menu-toggle" id="dt-menu-toggle">Menu<span class="dt-menu-toggle-icon"></span></div>
        <ul id="menu-main-menu" class="menu">
          <% @menu_items.each do |menu_item| %>
            <%= render 'application/menu_item', menu_item: menu_item %>
          <% end %>
        </ul>
      </nav>
      <!--nav ends-->

      <ul class="dt-sc-social-icons">
        <li><a href="#" title="Facebook" class="dt-sc-tooltip-top facebook"><span class="fa fa-facebook"></span></a></li>
        <!--li><a href="#" title="Youtube" class="dt-sc-tooltip-top youtube"><span class="fa fa-youtube"></span></a></li-->
        <!--li><a href="#" title="Twitter" class="dt-sc-tooltip-top twitter"><span class="fa fa-twitter"></span></a></li-->
        <!--li><a href="#" title="Google Plus" class="dt-sc-tooltip-top gplus"><span class="fa fa-google-plus"></span></a></li-->
      </ul>
    </div>
  </div>
  <!--menu-container ends-->
</header>
<!--header ends-->