<li>
  <a href="">
    <img src="<%= asset_path 'images/blog_list1.jpg' %>" alt="" title="">
  </a>
  <h6><a href=""> <%= latestpost.titolo %> </a></h6>
  <span> <%= latestpost.pubblicato.strftime("%d/%m/%Y") %> </span>
</li>